<div>
  <form action="/URL_shortener" method="POST">
    <input type="text" name="URL" placeholder="http://" required>
    <button type="submit">縮址</button>
  </form>
</div>
<div>
  <span>{{ shortURL }}</span>
</div>